<template>
    <div>
        <div class="container">
            <div class="row">
                <div class="col s12 m8 offset-m2">
                    <div class="login card-panel green white-text center">
                        <div v-if="loginIn" class="container-loading">
                          <p>cargando..</p>      
                        </div>
                        <p v-if="loginError">{{loginError}}</p>
                        <p v-if="loginSuccessful">Login Exitoso</p>
                        
                        <h3>Ingreso</h3>
                        <form @submit.prevent="loginSubmit">
                            <div class="input-field">
                                <i class="material-icons prefix">
                                    email
                                </i>
                                <input v-model="email" type="text" id="email">
                                <label  class="white-text" for="email">Correo Electrónico</label>
                            </div>
                            <div class="input-field">
                                <i class="material-icons prefix">
                                    lock
                                </i>
                                <input v-model="password" type="password" id="password">
                                <label  class="white-text" for="password">Contraseña</label>
                            </div>
                            <button type="submit" class="btn btn-large grey ligthten-4 black-text">Entrar</button>
                        </form>
                    </div>
                </div>
            </div>

        </div>
    </div>
</template>

<script>
import {mapState, mapActions} from 'vuex'
export default {
  name:'login',
  data(){
    return {
        email:'',
        password:''

    }
  },
  computed:{
      ...mapState([
          'loginIn',
          'loginError',
          'loginSuccessful'
      ])
  },
  methods: {
      ...mapActions([
         'doLogin' 
      ]),
      loginSubmit(){
          this.doLogin({
              email: this.email,
              password: this.password
          })
      }

  }
}
</script>

